.specialistfactual {
  height:100vh;
}

.header {
  color: #888888;
  text-align: center;
  padding-top: 140px;
  line-height: 1px;
  margin-bottom: 10px;
  font-weight: lighter;
  font-size: 24px;
}
